{% extends "layout.html" %}
{% block container %}

<div class="max-w-md mx-auto mt-10">
    
    <div class="relative bg-neutral-primary-soft w-full p-8 border border-default rounded-base shadow-xs flex flex-col items-center">
        
        <h5 class="mt-2 mb-3 text-2xl font-semibold tracking-tight text-heading text-center">
            {{ curso.nombre }}
        </h5>
        
        <span class="text-sm text-body mb-6 text-center">
            {{ curso.descripcion }}
        </span>
        
        <span class="bg-blue-100 text-blue-800 text-sm font-semibold px-4 py-1.5 rounded-md border border-blue-300 text-center mb-8">
            Profesor: {{ curso.maestro.nombre }} {{ curso.maestro.apellidos }}
        </span>
        
        <div class="w-full">
            <a href="{{ url_for('cursos.index') }}" class="flex justify-center w-full text-gray-800 bg-gray-200 border border-transparent hover:bg-gray-300 font-medium rounded-base text-sm px-4 py-2.5">
                Regresar a Cursos
            </a>
        </div>
        
    </div>

</div>

{% endblock %}